.customer {
    padding-top: 92px;
    padding-bottom: 92px;
  }
  .customer-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color:$color-text-primary;
    margin-bottom: 50px;
  }
  .customer-list {
    display: flex;
    justify-content: center;
  }
  .customer-item {
    display: flex;
    flex-basis: calc((100% - 30px) / 6);
    border-radius: 4px;
    width: 170px;
    height: 92px;
  }
  .customer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    display: flex;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  .customer-link:hover .customer-icon {
    fill: $color-hover;
  }
  .customer-link:hover {
    border-color: $color-hover;
  }
  .customer-icon {
    width: 110px;
    height: 60px;
    fill: #afb1b8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }