.footer {
  background-color: $color-text-background;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  gap: 70px;
}
.information__photo {
  margin-bottom: 20px;
}
.informations__location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $color-text-tertiary;
}
.informations__item {
  margin-bottom: 10px;
}
.informations__item:last-child {
  margin-bottom: 0px;
}
.informations__emeil {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: $color-text-secondary;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.informations__emeil:hover {
  color: $color-hover;
}
.informations__tel {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: $color-text-secondary;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.informations__tel:hover {
  color: $color-hover;
}
.networks__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-text-tertiary;
  margin-bottom: 20px;
}
.networks {
  margin-right: 23px;
}
.networks__list {
  display: flex;
  gap: 10px;
}

.networks__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.networks__icon {
  width: 20px;
  height: 20px;
  fill: $color-text-tertiary;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link:hover {
  background-color: $color-hover;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link:hover .networks__icon {
  fill: $color-text-tertiary;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.forms__text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.form {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  padding-left: 16px;
}
.form__input:focus-within {
  border-color: $color-hover;
}
.form__input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__icon {
  width: 24px;
  height: 24px;
  fill: $color-text-tertiary;
}
