.modal {
  background-color: $color-text-tertiary;
  transition-duration: 250ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000003e;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is__hidden {
  opacity: 0;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -500%) rotate(170deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 25px;
  background-color: $color-text-tertiary;
  transform: translate(-50%, -50%) rotate(0deg);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.modal__titli {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $color-text-primary;
  margin-top: 30px;
  margin-bottom: 12px;
}
.button__close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-text-tertiary;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.button__close-icon {
  width: 11px;
  height: 11px;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.button__close-icon:hover {
  fill: $color-hover;
}
.contacts__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.contact-comment {
  margin-bottom: 20px;
}

.contacts__label {
  font-family: var(--font-family);
  border-color: #2196f3;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: $color-text-secondary;
}
.contacts__wrapper {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  margin-top: 4px;
  display: flex;
  gap: 10px;
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.contacts__wrapper:hover,
.contacts__wrapper:focus-within {
  border-color: $color-hover;
}
.contacts__wrappers:hover,
.contacts__wrappers:focus-within {
  border-color: $color-hover;
}
.contacts__icon {
  width: 18px;
  height: 18px;
  margin-top: 11px;
  margin-left: 12px;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.contacts__wrapper:hover .contacts__icon {
  fill: $color-hover;
}
.contacts__wrapper:focus-within .contacs__icon {
  fill: $color-hover;
}
.contacts__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.button__send {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  color: $color-text-tertiary;
  border-radius: 4px;
  background-color: $color-hover;
  text-align: center;
  padding: 10px 52px;
}
.button__send:hover {
  box-shadow: 4px 8px 12px 4px rgb(55, 207, 238, 0.53);
}
.contract__condition {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: $color-text-secondary;
}
.contacts__group:nth-child(4) {
  margin-bottom: 20px;
}

.contacts__wrappers {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  margin-top: 4px;
  display: flex;
  gap: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 120px;
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.contacts__textarea {
  padding: 12px 16px;
}
.conditions {
  margin-bottom: 30px;
}
