
$color-text-primary: #212121;
$color-hover: #2196f3;
$color-text-secondary: #757575;
$color-text-additional: rgba(255, 255, 255, 0.6);
$color-text-tertiary: #ffffff;
$color-text-background: #2f303a;
$color-text-backgroundwhite: #f5f4fa;
  
// fonts
  $FontFamilyPrimary: "Roboto", sans-serif;
  $FontFamilySeconary: "Raleway", sans-serif;