:root {
  --colortextprimary: #212121;
  --colortextprimary: #757575;
  --colorTextAdditional: rgba(255, 255, 255, 0.6);
  --colortextprimary: #ffffff;
  --colortextbackground: #2f303a;
  --colorhover: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}
/* ============================================Header============================================================= */
.item-link {
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}
.item-link:hover {
  color: #2196f3;
}
.emeil-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;

  color: #757575;
}
.emeil-link:hover {
  color: #2196f3;
}
.tel-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
}
.tel-link:hover {
  color: #2196f3;
}
/* ============================================main============================================================= */
.advice-div {
  background-color: #2f303a;
}
.advice-titel {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.advice-button {
  padding: 10px 32px;
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
}
.advantages-titel {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}
.work-titel {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team-titel {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.div-Ihor {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
.div-olha {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
.div-mykolla {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
.div-mehailo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
/* ============================================footer============================================================= */
.footer {
  background-color: #2f303a;
}
.item-location {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
}
/* ============================================Portfolio============================================================= */
.directions-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.directions-link:hover {
  color: #2196f3;
}
.project-titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}
