:root {
  --colortextprimary: #212121;
  --colortextsecondary: #757575;
  --colorTextAdditional: rgba(255, 255, 255, 0.6);
  --colortexttertiary: #ffffff;
  --colortextbackground: #2f303a;
  --colorhover: #2196f3;
  --colortextbackgroundwhite: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
img {
  display: block;
  width: 100%;
}
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/* ============================================HEADER============================================================= */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.item-link {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--colortextprimary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.item-link:hover {
  color: var(--colorhover);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.item-link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--colorhover);
  position: absolute;
  bottom: -28px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: right;
}
.item-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}
.emeil-icon {
  width: 16px;
  height: 12px;
  fill: var(--colortextsecondary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.emeil-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--colortextsecondary);
  display: flex;
  gap: 10px;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.emeil-link:hover {
  color: var(--colorhover);
}
.emeil-link:hover .emeil-icon {
  fill: var(--colorhover);
}

.tel-icon {
  width: 10px;
  height: 16px;
  fill: var(--colortextsecondary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.tel-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--colortextsecondary);
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.tel-link:hover .tel-icon {
  fill: var(--colorhover);
}
.tel-link:hover {
  color: var(--colorhover);
}
/* ============================================MAIN============================================================= */
/* ============================================HERO============================================================= */
.hero {
  background-image: linear-gradient(
      to right,
      rgba(48, 49, 59, 0.4),
      rgba(46, 47, 59, 0.4)
    ),
    url(../img/background-hero.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.hero-title {
  max-width: 692px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--colortexttertiary);
}

.hero-button {
  padding: 10px 32px;
  background-color: var(--colorhover);
  color: var(--colortexttertiary);
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
} /* ============================================MODAL============================================================= */
.modal {
  background-color: var(--colortexttertiary);
}
/* =============================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000003e;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier();
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 25px;
  background-color: var(--colortexttertiary);
  transform: translate(-50%, -50%);
}
.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colortexttertiary);
  border: solid 1px rgba(0, 0, 0, 0.1);
}
.modal-titli {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colortextprimary);
  margin-top: 30px;
  margin-bottom: 12px;
}
.button-close-icon {
  width: 11px;
  height: 11px;
}
.button-close-icon:hover {
  fill: var(--colorhover);
}
.contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.contact-comment {
  margin-bottom: 20px;
}

.contact-form-label {
  font-family: var(--font-family);
  border-color: #2196f3;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--colortextsecondary);
}
.contact-form-wrapper {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  margin-top: 4px;
  display: flex;
  gap: 10px;
}
.contact-form-wrapper:hover,
.contact-form-wrapper:focus-within {
  border-color: var(--colorhover);
}
.contact-form-wrappers:hover,
.contact-form-wrappers:focus-within {
  border-color: var(--colorhover);
}
.contact-form-icon {
  width: 18px;
  height: 18px;
  margin-top: 11px;
  margin-left: 12px;
}
.contact-form-wrapper:hover .contact-form-icon {
  fill: var(--colorhover);
}
.contact-form-wrapper:hover,
.contact-form-icon:focus-within {
  fill: var(--colorhover);
}
.contact-form-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.button-send {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  color: var(--colortexttertiary);
  border-radius: 4px;
  background-color: var(--colorhover);
  text-align: center;
  padding: 10px 52px;
}
.contract-condition {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--colortextsecondary);
}
.form-group:nth-child(4) {
  margin-bottom: 20px;
}

.contact-form-wrappers {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  margin-top: 4px;
  display: flex;
  gap: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 120px;
}
.conditions {
  margin-bottom: 30px;
}

/* ============================================ADVANTAGES============================================================= */
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list {
  display: flex;
  gap: 30px;
  flex-basis: calc((100% - 30px) / 4);
}
.advantages-item::before {
  content: "";
  display: block;
  height: 100px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.advantages-item:nth-child(1)::before {
  background-image: url(../img/antenna.svg);
}
.advantages-item:nth-child(2)::before {
  background-image: url(../img/clock.svg);
}
.advantages-item:nth-child(3)::before {
  background-image: url(../img/diagram.svg);
}
.advantages-item:nth-child(4)::before {
  background-image: url(../img/astronaut.svg);
}
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--colortextsecondary);
}
/* ============================================WORK============================================================= */
.work-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colortextprimary);
  margin-bottom: 50px;
}

.device-list {
  flex-basis: calc((100% - 30px) / 3);
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding-bottom: 94px;
}

.device {
  position: relative;
}

.device-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  color: var(--colortexttertiary);
  text-align: center;
  padding: 27px 0;
  text-transform: uppercase;
}

/* ============================================TEAM============================================================= */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--colortextbackgroundwhite);
}
.team-div {
  display: flex;
  gap: 30px;
  flex-basis: calc((100% - 30px) / 4);
}
.team-img {
  margin-bottom: 30px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colortextprimary);
  margin-bottom: 50px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colortextprimary);
  margin-bottom: 10px;
}
.team-profession {
  color: var(--colortextsecondary);
  margin-bottom: 16px;
}
.teammate {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--colortexttertiary);
  padding-bottom: 30px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 4px 4px;
}
.network-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.network-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.network-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.network-link:hover {
  background-color: var(--colorhover);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.network-link:hover .network-icon {
  fill: var(--colortexttertiary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ============================================CUSTOMER============================================================= */
.customer {
  padding-top: 92px;
  padding-bottom: 92px;
}
.customer-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colortextprimary);
  margin-bottom: 50px;
}
.customer-list {
  display: flex;
  justify-content: center;
}
.customer-item {
  display: flex;
  flex-basis: calc((100% - 30px) / 6);
  border-radius: 4px;
  width: 170px;
  height: 92px;
}
.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  display: flex;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.customer-link:hover .customer-icon {
  fill: var(--colorhover);
}
.customer-link:hover {
  border-color: var(--colorhover);
}
.customer-icon {
  width: 110px;
  height: 60px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

/* ============================================FOOTER============================================================= */
.footer {
  background-color: var(--colortextbackground);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  gap: 70px;
}
.footer-img {
  margin-bottom: 20px;
}
.item-location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--colortexttertiary);
}
.information-item {
  margin-bottom: 10px;
}
.information-item:last-child {
  margin-bottom: 0px;
}
.emeil-link-footer {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--colortextsecondary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.emeil-link-footer:hover {
  color: var(--colorhover);
}
.tel-link-footer {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--colortextsecondary);
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.tel-link-footer:hover {
  color: var(--colorhover);
}
.networks-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--colortexttertiary);
  margin-bottom: 20px;
}
.networks {
  margin-right: 23px;
}
.networks-list {
  display: flex;
  gap: 10px;
}

.networks-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-icon {
  width: 20px;
  height: 20px;
  fill: var(--colortexttertiary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-link:hover {
  background-color: var(--colorhover);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-link:hover .networks-icon {
  fill: var(--colortexttertiary);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer {
  display: flex;
  align-items: center;
  gap: 12px;
}
.form-footer-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.form-footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  padding-left: 16px;
}
.form-footer-input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer-btn {
  background-color: var(--colorhover);
  color: var(--colortexttertiary);
  font-family: var(--font-family);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  line-height: 1.87;
  padding: 10px 28px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.form-footer-icon {
  width: 24px;
  height: 24px;
  fill: var(--colortexttertiary);
}
/* ============================================PORTFOLIO.HTML============================================================= */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ============================================DIRECTIONS============================================================= */
.directions {
  margin-bottom: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.directions-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colortextprimary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 4px;
  padding: 6px 22px;
}

.directions-link:hover {
  background-color: var(--colorhover);
  color: var(--colortexttertiary);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
/* ============================================PORTFOLIO============================================================= */

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project-portfolio {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid #eee;
  flex-basis: calc((100% - 60px) / 3);
}
.project-photo {
  position: relative;
  overflow: hidden;
}
.project-overlay {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 63px 24px 63px 24px;
  width: 100%;
  height: 100%;
  background-color: hsla(207, 90%, 54%, 0.9);
  left: 0;
  top: 0;
  position: absolute;
  transform: translateY(-100%);
}
.project-photo:hover .project-overlay {
  transform: translateY(0);
}
.project-img {
  margin-bottom: 20px;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: var(--colortextprimary);
  margin-bottom: 4px;
  margin-left: 24px;
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: var(--colortextsecondary);
  margin-left: 24px;
  margin-bottom: 20px;
}
