:root {
  --colortextprimary: #212121;
  --colortextsecondary: #757575;
  --colorTextAdditional: rgba(255, 255, 255, 0.6);
  --colortexttertiary: #ffffff;
  --colortextbackground: #2f303a;
  --colorhover: #2196f3;
  --colortextbackgroundwhite: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/* ============================================HEADER============================================================= */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.item-link {
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--colortextprimary);
}
.item-link:hover {
  color: var(--colorhover);
}
.header-contacts {
  display: flex;
  align-items: center;
  gap: 50px;

  justify-content: space-between;
}
.emeil-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;

  color: var(--colortextsecondary);
}
.emeil-link:hover {
  color: var(--colorhover);
}
.tel-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--colortextsecondary);
  align-items: center;
}
.tel-link:hover {
  color: var(--colorhover);
}
/* ============================================MAIN============================================================= */
/* ============================================HERO============================================================= */
.hero {
  background-color: var(--colortextbackground);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.hero-title {
  max-width: 692px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--colortexttertiary);
}

.hero-button {
  padding: 10px 32px;
  background-color: var(--colorhover);
  color: var(--colortexttertiary);
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}
/* ============================================ADVANTAGES============================================================= */
.advantages {
  margin-top: 94px;
  margin-bottom: 94px;
}
.advantages-list {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-basis: calc((100% - 30px) / 4);
}
.advantages-item::before {
  content: "";
  display: block;
  height: 100px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.advantages-item:nth-child(1)::before {
  background-image: url(../img/antenna\ 1.svg);
}
.advantages-item:nth-child(2)::before {
  background-image: url(../img/clock\ 1.svg);
}
.advantages-item:nth-child(3)::before {
  background-image: url(../img/diagram\ 1.svg);
}
.advantages-item:nth-child(4)::before {
  background-image: url(../img/astronaut\ 1.svg);
}
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--colortextsecondary);
}
/* ============================================WORK============================================================= */
.work-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colortextprimary);
  margin-bottom: 50px;
}

.devices {
  flex-basis: calc((100% - 30px) / 3);
  display: flex;
  gap: 30px;
  align-items: center;
  padding-bottom: 94px;
}
/* ============================================TEAM============================================================= */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--colortextbackgroundwhite);
}
.team-div {
  display: flex;
  gap: 30px;
  flex-basis: calc((100% - 30px) / 4);
}
.team-img {
  margin-bottom: 30px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colortextprimary);
  margin-bottom: 50px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colortextprimary);
  margin-bottom: 10px;
}
.team-profession {
  color: var(--colortextsecondary);
}
.teammate {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--colortexttertiary);
  padding-bottom: 30px;
}

/* ============================================FOOTER============================================================= */
.footer {
  background-color: var(--colortextbackground);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-img {
  margin-bottom: 20px;
}
.item-location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--colortexttertiary);
  margin-bottom: 10px;
}
/* ============================================PORTFOLIO.HTML============================================================= */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ============================================DIRECTIONS============================================================= */
.directions {
  margin-bottom: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.directions-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colortextprimary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 4px;
  padding: 6px 22px;
}

.directions-link:hover {
  color: var(--colorhover);
}
/* ============================================PORTFOLIO============================================================= */

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.project-img {
  margin-bottom: 20px;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: var(--colortextprimary);
  margin-bottom: 4px;
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: var(--colortextsecondary);
}
